
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    color: #2c3e50; 
    background-color: #ecf0f1;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #315982; 
    font-weight: 700;
}

p {
    font-size: 17px;
    margin-bottom: 20px;
    color: #404949; 
}

.header-logo {
    background-color: lightblue; 
}

.header-logo .logo-img {
    width: 70px;
    height: 80px;   
  
}

.navbar {
    background-color:lightblue; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand, .nav-link {
    color: #5e89f6 !important; 
    font-weight: 500;
    font-size: 16px;
}

.navbar-nav .nav-link:hover {
    color: #070400 !important; 
}

.container {
    padding: 60px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-top: -40px;
}

.lead {
    color: #404949;
}

.review {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.review img {
    width: 60px;
    height: 60px;
}

.review h5 {
    color: #315982;
    font-size: 1.1rem;
}

.review p {
    color: #404949;
    font-size: 1rem;
}


footer {
    background-color: #2c3e50; 
    color: #bdc3c7; 
    text-align: center;
    padding: 40px 0;
    margin-top: 50px;
}

footer h5 {
    color: #28d4ff; 
    margin-bottom: 20px;
    font-weight: bold;
}
hr {
    width: 600px;
    height: 2px;
    background-color: #10343d;
    margin: 0 auto 20px;
    border: none;
}
footer p {
    font-size: 15px;
    color: #1e2123; 
    margin-bottom: 15px;
}

footer .row {
    margin-bottom: 20px;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
